<div class="facebook-feed clearfix">
    		<div class="col-sm-12 feedHead">
        		<div class="feedHeadBgImage">
                	<img src="https://scontent.xx.fbcdn.net/v/t1.0-0/p128x128/12573693_10154345508521729_8347370496501004621_n.png?oh=2572aa54775b20bcbbf6f7a427bc40cc&amp;oe=59452C43" style="top:-28px;" alt="Facebook's photo.">
                </div>
                <div class="feedHeadshadow"></div>
            	<div class="feedLogoBox clearfix">
                	<a class="feedLogo pull-left" href="https://www.facebook.com/facebook/" target="_blank"><img class="_1drn _-s img" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/12006203_10154088276211729_2432197377106462187_n.png?oh=e292c6858be1ec2bc64fcb7cf084590f&amp;oe=5938CA23" alt="" width="50" height="50">
                    </a>
                    <div class="pull-left">
                    	<div>
                    		<a title="Facebook" class="fbTitle" href="https://www.facebook.com/facebook/" target="_blank">Facebook</a>
                        	<span class="tick"></span>
                        </div>    
                    	<div class="clearfix"></div>
                        <div class="pluginConnectButton">
                            <a role="button" href="https://www.facebook.com/facebook/" title="" target="_blank"><i class="_3-8_ img sp_U61AnKXm-BV sx_cdb47d"></i>Like Page</a>
                            <span>184M likes</span>
                        </div>
                     </div>   
                </div>
            </div>
            
            <!--Feed Section 1-->
            <div class="col-sm-12">
            	<div class="feedContent clearfix">
                    <div class="feedBox clearfix">
                        <div class="clearfix">
                            <a class="pull-left" href="https://www.facebook.com/facebook/?ref=nf" aria-hidden="true" tabindex="-1" target="_blank" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/12006203_10154088276211729_2432197377106462187_n.png?oh=e292c6858be1ec2bc64fcb7cf084590f&amp;oe=5938CA23" alt="">
                            </a>
                            
                            <span class="fcg">
                            	<div>
                                    <span class="fwb">
                                        <a class="profileLink" href="https://www.facebook.com/facebook/" data-ft="{&quot;tn&quot;:&quot;k&quot;}" target="_blank">Facebook</a> shared <a class="profileLink" href="https://www.facebook.com/zuck" data-ft="{&quot;tn&quot;:&quot;l&quot;}" target="_blank">Mark Zuckerberg</a>'s <a href="/notes/mark-zuckerberg/building-global-community/10103508221158471/" target="_blank">post</a>.
                                    </span>
                                    <span class="clearfix">
                                    	<a class="postDate" href="/facebook/posts/10155528857406729" target="_blank">
                                    		16 February at 13:07
                                        </a>    
                                    </span>
                                </div> 
                             </span>      
                            </div> 
                            <div class="feedBoxContent clearfix">
                            	<p>Today Mark shared a letter about giving people the power to build a global community. For the past decade, Facebook has focused on connecting friends and families. With that foundation, our next focus will be developing the social infrastructure for community -- for supporting us, for keeping us safe, for informing us, for civic engagement, and for inclusion of all. Please check it out and let us know what you think!</p>
                            </div> 
                            <div class="feedBoxComment clearfix">
                            	<a class="pull-left" href="/notes/mark-zuckerberg/building-global-community/10103508221158471/" target="_blank"><img src="https://scontent.xx.fbcdn.net/v/t34.0-1/p32x32/16176889_112685309244626_578204711_n.jpg?oh=920fd8c431862960eeeab714a88eee97&amp;oe=58AEA4AA" alt=""></a> 
                                <div class="feedBoxContentRight">
                                	<a class="fwb" href="https://www.facebook.com/zuck?fref=nf" target="_blank">Mark Zuckerberg</a>
                                    <span class="clearfix">
                                    	<a class="postDate" href="/notes/mark-zuckerberg/building-global-community/10103508221158471/" target="_blank">
                                    		Thursday, 16 February 2017 at 12:56
                                        </a>
                                    </span> 
                                    <p>I know a lot of us are thinking about how we can make the most positive impact in the world right now. I wrote this letter about how I hope we can come together to build a global community that works for everyone.</p>  
                                     <div class="CommentPost">
                                     	<a href="/notes/mark-zuckerberg/building-global-community/10154544292806634" target="_blank">
                                        	<div class="_5bdz" style="background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-0/s261x260/16807625_10103508222964851_4229937481765774708_n.jpg?oh=6b83d8a17f6f7cbb001fae5653c3f8ac&amp;oe=5940D45E);background-position: 0% 3%;padding-bottom: 37%;width: 100%;">
                                            </div>
                                        </a>
                                        <div class="col-sm-12">
                                            	<a href="/notes/mark-zuckerberg/building-global-community/10154544292806634" target="_blank">Building Global Community</a>
                                                <p>On our journey to connect the world, we often discuss products we're building and updates on our business. Today I want to focus on the most important question of all: are we building the world we all want?</p>
                                        </div>
                                     </div> 
                                </div>
                            </div> 
                            <div class="feedBoxButton">
                            	<table cellspacing="0" cellpadding="0">
                                	<tbody>
                                    	<tr>
                                        	<td>
                                            	<a href="javascript:void(0);" target="_blank">
                                                	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>57K
                                                </a>    
                                            </td>
                                            <td>
                                            	<a href="https://www.facebook.com/facebook/posts/10155528857406729" target="_blank">
                                            		<span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>3.5K
                                                </a>    
                                            </td>
                                            <td>
                                            	<a href="/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fposts%2F10155528857406729&amp;display=popup&amp;ref=plugin&amp;src=page" target="_blank">
                                            		<span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"></span>12K
                                                </a>    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>        
                        </div>
                    </div>
                </div>   
			
            <!--Feed Section 2-->                
            <div class="col-sm-12">
            	<div class="feedContent clearfix">
                    <div class="feedBox clearfix">
                        <div class="clearfix">
                            <a class="pull-left" href="https://www.facebook.com/facebook/?ref=nf" aria-hidden="true" tabindex="-1" target="_blank" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/12006203_10154088276211729_2432197377106462187_n.png?oh=e292c6858be1ec2bc64fcb7cf084590f&amp;oe=5938CA23" alt="">
                            </a>
                            
                            <span class="fcg">
                            	<div>
                                    <span class="fwb">
                                        <a class="profileLink" href="https://www.facebook.com/facebook/" data-ft="{&quot;tn&quot;:&quot;k&quot;}" target="_blank">Facebook</a> 
                                    </span>
                                    <span class="clearfix">
                                    	<a class="postDate" href="/facebook/posts/10155528857406729" target="_blank">
                                    		2 February at 12:18
                                        </a>    
                                    </span>
                                </div> 
                             </span>      
                            </div> 
                            <div class="feedBoxContent clearfix">
                            	<p>This Saturday, February 4 is Friends Day—a day to celebrate our friendships and a time to connect with friends. This year, we asked members of our community to share what friendship means to them on #friendsday</p>
                                <div class="fbVideo">
                                	<video id="video1" controls>
                                    	<source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                    </video>
                                    <div class="fb-poster">
                                    	<img src="https://scontent.xx.fbcdn.net/v/t15.0-10/p173x172/16467501_10155484162531729_4216372873406709760_n.jpg?oh=7b45116401df429eb41a71e4b0cb31a5&oe=59407416"/>
                                    </div>
                                    <span class="fbVideoplay"></span>
                                </div>
                                <div class="pull-left small greycolor">25,475,988 Views</div>
                            </div> 
                            <div class="feedBoxButton">
                            	<table cellspacing="0" cellpadding="0">
                                	<tbody>
                                    	<tr>
                                        	<td>
                                            	<a href="javascript:void(0);" target="_blank">
                                                	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>57K
                                                </a>    
                                            </td>
                                            <td>
                                            	<a href="https://www.facebook.com/facebook/posts/10155528857406729" target="_blank">
                                            		<span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>3.5K
                                                </a>    
                                            </td>
                                            <td>
                                            	<a href="/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fposts%2F10155528857406729&amp;display=popup&amp;ref=plugin&amp;src=page" target="_blank">
                                            		<span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"></span>12K
                                                </a>    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>        
                        </div>
                    </div>
                </div>   
            
            <!--Feed Section 3-->    
            <div class="col-sm-12">
            	<div class="feedContent clearfix">
                    <div class="feedBox clearfix">
                        <div class="clearfix">
                            <a class="pull-left" href="https://www.facebook.com/facebook/?ref=nf" aria-hidden="true" tabindex="-1" target="_blank" data-ft="{&quot;tn&quot;:&quot;\u003C&quot;}">
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/12006203_10154088276211729_2432197377106462187_n.png?oh=e292c6858be1ec2bc64fcb7cf084590f&amp;oe=5938CA23" alt="">
                            </a>
                            
                            <span class="fcg">
                            	<div>
                                    <span class="fwb">
                                        <a class="profileLink" href="https://www.facebook.com/facebook/" data-ft="{&quot;tn&quot;:&quot;k&quot;}" target="_blank">Facebook</a> 
                                    </span>
                                    <span class="clearfix">
                                    	<a class="postDate" href="/facebook/posts/10155528857406729" target="_blank">
                                    		2 February at 12:18
                                        </a>    
                                    </span>
                                </div> 
                             </span>      
                            </div> 
                            <div class="feedBoxContent clearfix">
                            	<p>This Saturday, February 4 is Friends Day—a day to celebrate our friendships and a time to connect with friends. This year, we asked members of our community to share what friendship means to them on #friendsday</p>
                                <a href="/facebook/photos/a.376995711728.190761.20531316728/10155085288566729/?type=3" target="_blank">
                                	<img class="img-responsive" src="https://scontent.xx.fbcdn.net/v/t1.0-9/s851x315/14721758_10155085288566729_2910241994791901066_n.jpg?oh=c1416ba8afa726eafbdddd2499c7150c&amp;oe=593F955D" alt="">
                                 </a>
                            </div> 
                            <div class="feedBoxButton">
                            	<table cellspacing="0" cellpadding="0">
                                	<tbody>
                                    	<tr>
                                        	<td>
                                            	<a href="javascript:void(0);" target="_blank">
                                                	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>57K
                                                </a>    
                                            </td>
                                            <td>
                                            	<a href="https://www.facebook.com/facebook/posts/10155528857406729" target="_blank">
                                            		<span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>3.5K
                                                </a>    
                                            </td>
                                            <td>
                                            	<a href="/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fposts%2F10155528857406729&amp;display=popup&amp;ref=plugin&amp;src=page" target="_blank">
                                            		<span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"></span>12K
                                                </a>    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>        
                        </div>
                    </div>
                </div>         
            
			</div>

<script>
	$(document).ready(function() {
        $(".fbVideoplay").click(function(){
            $(".fbVideoplay").hide();
			$(".fb-poster").hide();
            var video1 = document.getElementById("video1");
            video1.play();                                         
		});
    });
</script>