<div class="gmail-feed">
    
                <div class="col-sm-12 gmail-feed-box clearfix">
                            <div class="col-sm-1 col-xs-1">
                                <div class="feedcheck"></div>
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feedstar"></div>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<div class="nameField">
                            		<span class="yP" email="ralph@edaptit.info" name="Ralph">Ralph</span>, 
                                	<span class="yP" email="piyali@edaptit.info" name="me">me</span> (3)
                                </div>    
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            	<div class="feed-content">
                            		<span>FW: BR - BedRug and BedTred Applications Now Available</span>
                                	<span>&nbsp;-&nbsp;Thanks Piyali! Ralph Smith President 877-203-8117 Toll Free 601-813-0480 Main 601-813-0478 Direct 601-713-4127 Cell 601-487-2173 Fax edaptit_logo-tech-solutions image002 image003 image004 From: Piyali</span>
                                </div>    
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feed-attach"></div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                            	<div class="feed-date">
                            		<span title="Sun, Feb 19, 2017 at 2:15 AM" id=":2k" aria-label="Sun, Feb 19, 2017 at 2:15 AM">Feb 19</span>
                                </div>    
                            </div>
                </div>
                
                <div class="col-sm-12 gmail-feed-box clearfix">
                            <div class="col-sm-1 col-xs-1">
                                <div class="feedcheck"></div>
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feedstar"></div>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<div class="nameField">
                            		<span class="yP" email="avradita@edaptit.info" name="Avradita">Avradita Chakravarty</span>
                                </div>    
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            	<div class="feed-content">
                            		<span>FW: Danks Miller and Corey</span>
                                	<span>&nbsp;-&nbsp;- From Souvik Roy</span>
                                </div>    
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feed-attach"></div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                            	<div class="feed-date">
                            		<span title="Sun, Feb 19, 2017 at 2:15 AM" id=":2k" aria-label="Sun, Feb 19, 2017 at 2:15 AM">Feb 19</span>
                                </div>    
                            </div>
                </div>
                
                <div class="col-sm-12 gmail-feed-box clearfix">
                            <div class="col-sm-1 col-xs-1">
                                <div class="feedcheck"></div>
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feedstar"></div>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<div class="nameField">
                            		<span class="yP" email="avradita@edaptit.info" name="Avradita">Avradita Chakravarty</span>
                                </div>    
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            	<div class="feed-content">
                            		<span>FW: Danks Miller and Corey</span>
                                	<span>&nbsp;-&nbsp;- From Souvik Roy</span>
                                </div>    
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feed-attach"></div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                            	<div class="feed-date">
                            		<span title="Sun, Feb 19, 2017 at 2:15 AM" id=":2k" aria-label="Sun, Feb 19, 2017 at 2:15 AM">Feb 19</span>
                                </div>    
                            </div>
                </div>
                
                <div class="col-sm-12 gmail-feed-box clearfix">
                            <div class="col-sm-1 col-xs-1">
                                <div class="feedcheck"></div>
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feedstar"></div>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<div class="nameField">
                            		<span class="yP" email="avradita@edaptit.info" name="Avradita">Avradita Chakravarty</span>
                                </div>    
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            	<div class="feed-content">
                            		<span>FW: Danks Miller and Corey</span>
                                	<span>&nbsp;-&nbsp;- From Souvik Roy</span>
                                </div>    
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feed-attach"></div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                            	<div class="feed-date">
                            		<span title="Sun, Feb 19, 2017 at 2:15 AM" id=":2k" aria-label="Sun, Feb 19, 2017 at 2:15 AM">Feb 19</span>
                                </div>    
                            </div>
                </div>
                
                <div class="col-sm-12 gmail-feed-box clearfix">
                            <div class="col-sm-1 col-xs-1">
                                <div class="feedcheck"></div>
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feedstar"></div>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<div class="nameField">
                            		<span class="yP" email="avradita@edaptit.info" name="Avradita">Avradita Chakravarty</span>
                                </div>    
                            </div>
                            <div class="col-sm-4 col-xs-4">
                            	<div class="feed-content">
                            		<span>FW: Danks Miller and Corey</span>
                                	<span>&nbsp;-&nbsp;- From Souvik Roy</span>
                                </div>    
                            </div>
                            <div class="col-sm-1 col-xs-1">
                            	<div class="feed-attach"></div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                            	<div class="feed-date">
                            		<span title="Sun, Feb 19, 2017 at 2:15 AM" id=":2k" aria-label="Sun, Feb 19, 2017 at 2:15 AM">Feb 19</span>
                                </div>    
                            </div>
                </div>
                
    </div>

<script>
	$(document).ready(function() {
        $(".feedcheck").click(function(){
			$(this).toggleClass("checked");
		});
		$(".feedstar").click(function(){
			$(this).toggleClass("selected");
		});
	});
</script>