<div class="linkedin-feed">
    
            <div class="feed-container">
            	<div class="col-sm-12 feed-head">
                	<a href="/in/pavani-p-13321a101/" class="avtar-link">    
                    	<div class="feed-s-avatar-image">  
                        	<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAMYAAAAJDEyMTY0NzRjLWI1MjktNDljMS1hYjYzLTllN2RhYTlmYjBjYQ.jpg" alt="Pavani P">
						</div>
					</a>
                    <a href="/in/pavani-p-13321a101/" class="text-link">  
                            <h5>Pavani P</h5>
                              <h6>Hr Executive [Actively Looking for change]</h6>
                              <time class="feed-post-timestamp">2h</time>
                    </a>
                </div>
                <div class="col-sm-12 feed-post-content">
                	<p>
                    	<span>Looking for skill with Oracle Apps Testing [ Pune ] ,Exp Range: 5-8 years

Notice Period: 15 days only

Interested candidate rush their profiles on pavani.krive@gmail.com with updated resume or else inbox me for more details.</span>
					</p>
                </div>
                    <ul class="feed-s-social-counts">
                    	<li class="feed-s-social-counts-item">
                            <button class="like-bt">
                              <span>356 Likes</span>
                            </button>
                        </li>
                        <li class="feed-s-social-counts-item">
                            <button class="comment-bt">
                              <span>54 Comments</span>
                            </button>
                      	</li>
                  </ul>
                  
                  <div class="feed-s-update-social-actions">
                  		<button>
                        	<i class="fa fa-thumbs-up"></i><span>Like</span>
                        </button>
                        <button>
                        	<i class="fa fa-comment"></i><span>Comment</span>
                        </button>
                        <button>
                        	<i class="fa fa-share"></i><span>Share</span>
                        </button>
                  </div>
                  <!--comments given-->
                  <div class="feed-s-update-comments">
                  		<section class="feed-s-comments-list">
                        	<button class="show-previous-button">
                                  <span aria-hidden="true">Show previous comments</span>
                            </button>
                            <article class="feed-s-comments-list-comment-item">
                            	<div class="feed-s-comment-item-options">
                                  	<time class="feed-s-comment-item__timestamp">4h</time>                                
                                  	<button class="comment-options-trigger">
                                  		<i class="fa fa-ellipsis-h"></i>
                                	</button>
                                </div>
                                <a href="/in/siddharth-rai-5b3aa217/" id="ember12665" class="profile-link">  
                                	<div class="feed-s-avatar-image">  
                                    	<img src="dist/img/blank-profile.png" class="avatar member ghost-person" alt="siddharth rai">
									</div>
								</a>
                                <div class="feed-s-comment-item-show-more-text">
                                	<a href="/in/siddharth-rai-5b3aa217/" class="profile-link">    
                                    	<span class="feed-s-comment-item-name">siddharth rai</span>
									</a>  
                                    <p class="feed-s-comment-item-main-content">
                                    	<span>made my day <span>😂😂😂</span></span>
                                    </p>
								</div>
                                <div class="feed-s-comment-social-bar">
                                            <button class="feed-s-comment-social-bar-action-button">
                                          		<span aria-hidden="true">Like</span>
                                            </button>
                                        
                                            <button class="feed-s-comment-social-bar-action-button">                                            	
                                        		<span aria-hidden="true">Reply</span>                                        
                                        	</button>
                                    </div>
                            </article>
                            <article class="feed-s-comments-list-comment-item">
                            	<div class="feed-s-comment-item-options">
                                  	<time class="feed-s-comment-item__timestamp">4h</time>                                
                                  	<button class="comment-options-trigger">
                                  		<i class="fa fa-ellipsis-h"></i>
                                	</button>
                                </div>
                                <a href="/in/siddharth-rai-5b3aa217/" id="ember12665" class="profile-link">  
                                	<div class="feed-s-avatar-image">  
                                    	<img src="dist/img/blank-profile.png" class="avatar member ghost-person" alt="siddharth rai">
									</div>
								</a>
                                <div class="feed-s-comment-item-show-more-text">
                                	<a href="/in/siddharth-rai-5b3aa217/" class="profile-link">    
                                    	<span class="feed-s-comment-item-name">siddharth rai</span>
									</a>  
                                    <p class="feed-s-comment-item-main-content">
                                    	<span>made my day <span>😂😂😂</span></span>
                                    </p>
								</div>
                                <div class="feed-s-comment-social-bar">
                                            <button class="feed-s-comment-social-bar-action-button">
                                          		<span aria-hidden="true">Like</span>
                                            </button>
                                        
                                            <button class="feed-s-comment-social-bar-action-button">                                            	
                                        		<span aria-hidden="true">Reply</span>                                        
                                        	</button>
                                    </div>
                            </article>
                            <article class="feed-s-comments-list-comment-item">
                            	<div class="feed-s-comment-item-options">
                                  	<time class="feed-s-comment-item__timestamp">4h</time>                                
                                  	<button class="comment-options-trigger">
                                  		<i class="fa fa-ellipsis-h"></i>
                                	</button>
                                </div>
                                <a href="/in/siddharth-rai-5b3aa217/" id="ember12665" class="profile-link">  
                                	<div class="feed-s-avatar-image">  
                                    	<img src="dist/img/blank-profile.png" class="avatar member ghost-person" alt="siddharth rai">
									</div>
								</a>
                                <div class="feed-s-comment-item-show-more-text">
                                	<a href="/in/siddharth-rai-5b3aa217/" class="profile-link">    
                                    	<span class="feed-s-comment-item-name">siddharth rai</span>
									</a>  
                                    <p class="feed-s-comment-item-main-content">
                                    	<span>made my day <span>😂😂😂</span></span>
                                    </p>
								</div>
                                <div class="feed-s-comment-social-bar">
                                            <button class="feed-s-comment-social-bar-action-button">
                                          		<span aria-hidden="true">Like</span>
                                            </button>
                                        
                                            <button class="feed-s-comment-social-bar-action-button">                                            	
                                        		<span aria-hidden="true">Reply</span>                                        
                                        	</button>
                                    </div>
                            </article>
                        </section>
                        <div class="feed-s-comment-box">
                        	<div class="feed-s-comment-box-avatar-image">
                            	<img src="dist/img/blank-profile.png" />
                            </div>
                        	<div class="feed-s-comment-textarea">
                            	<div class="feed-s-comment-textarea-mentions-input">
                                	<textarea rows="1" placeholder="Add a comment…"></textarea>
                                </div>
                            </div>
                        </div>
                  </div>
                  
            </div>
            
            
            <div class="feed-container">
            	<div class="col-sm-12 feed-head">
                	<a href="/in/pavani-p-13321a101/" class="avtar-link">    
                    	<div class="feed-s-avatar-image">  
                        	<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAMYAAAAJDEyMTY0NzRjLWI1MjktNDljMS1hYjYzLTllN2RhYTlmYjBjYQ.jpg" alt="Pavani P">
						</div>
					</a>
                    <a href="/in/pavani-p-13321a101/" class="text-link">  
                            <h5>Pavani P</h5>
                              <h6>Hr Executive [Actively Looking for change]</h6>
                              <time class="feed-post-timestamp">2h</time>
                    </a>
                </div>
                <div class="col-sm-12 feed-post-content">
                	<p>
                    	<span>One of India's most respected Companies, Shree Baidyanath Ayurved Bhawan is going digital with us. Baidyanath ties up with Indus Net Technologies fo</span>
					</p>
                    <div class="feed-s-hero-entity-container">
                        <a target="_blank" href="http://www.financialexpress.com/industry/aggressive-on-herbal-business-growth-baidyanath-eyes-acquisitions-in-india-us/563963/">
                            <img src="https://media.licdn.com/media-proxy/ext?w=660&h=440&f=n&hash=kLaLuB7asCoqwpl9X7UK4UEip%2BU%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0Vinkhwf0VIn6aCAo0y55UtCXZLOB3PiRXb1p8qCYHbuZsfdZuPo4R9QLXhQjl5yKA" class="img-responsive" />
                        </a>
                        <article class="feed-s-image-description">
                            <a target="_blank" href="http://www.financialexpress.com/industry/aggressive-on-herbal-business-growth-baidyanath-eyes-acquisitions-in-india-us/563963/">
                                <h5>The Financial Express</h5>
                                <h6>financialexpress.com</h6>
                            </a>
                        </article>    
                    </div>    
                </div>
                    <ul class="feed-s-social-counts">
                    	
                  </ul>
                  
                  <div class="feed-s-update-social-actions">
                  		<button>
                        	<i class="fa fa-thumbs-up"></i><span>Like</span>
                        </button>
                        <button>
                        	<i class="fa fa-comment"></i><span>Comment</span>
                        </button>
                        <button>
                        	<i class="fa fa-share"></i><span>Share</span>
                        </button>
                  </div>
            </div>
            
    </div>
	
	<script>
	$(document).ready(function() {
        $(".feed-s-update-social-actions button").click(function(){
			$(this).toggleClass("active");
		});
		$(".comment-bt").click(function(){
			$(".feed-s-update-comments").css("display","block");
		});
    });
</script>