<div class="twitter-feed">
    <div class="twitter-feed-Header">
		<h1 class="twitter-feed-Header-title u-inlineBlock">Tweets <span class="twitter-feed-Header-byline" >by 
		<a href="https://twitter.com/isro" title="‎@isro on Twitter">‎@isro</a></span></h1>
	</div>
    <div class="twitter-feed-Body">
    		<ol class="timeline-TweetList">
            	<li class="timeline-TweetList-tweet customisable-border clearfix">
                	<div class="timeline-Tweet">
                    	<i class="fa fa-twitter timeline-Tweet-brand"></i>
                        <div class="timeline-Tweet-author">
                        	
                            <span class="TweetAuthor-avatar Identity-avatar">
                              <img class="Avatar" alt="" src="https://pbs.twimg.com/profile_images/413572279734247424/LshYgwCH_normal.jpeg">
                            </span>
                            <span class="TweetAuthor-name" title="ISRO">ISRO</span>
                            <span class="TweetAuthor-verifiedBadge">
                                <b class="u-hiddenVisually">✔</b>
                            </span>
                            <span class="TweetAuthor-screenName" title="@isro">@isro</span>
  
                        </div>
                        <p class="timeline-Tweet-text">
                        	The Unique Triumph of PSLV-C37
							Read More: <a href="https://t.co/SEyIaysuFO" target="_blank" title="http://www.isro.gov.in/unique-triumph-of-pslv-c37">http://www.isro.gov.in/unique-triumph</a>
						</p>
                        <div class="timeline-Tweet-media">
                        	<img class="img-responsive" title="View image on Twitter" alt="View image on Twitter" src="https://pbs.twimg.com/media/C5HEm73WcAE-0fZ.jpg:small" />
                        </div>
                        <div class="timeline-Tweet-metadata">
                        	<a class="timeline-Tweet-timestamp" href="https://twitter.com/isro/status/833663612560482304">20 Feb</a>
                        </div>
                        <ul class="timeline-Tweet-actions">
                        	<li class="timeline-Tweet-action">
								<a class="TweetAction TweetAction-heart" href="https://twitter.com/intent/like?tweet_id=833663612560482304">
                                	<i class="fa fa-heart"></i>
                                </a>
                            </li>
                            <li class="timeline-Tweet-action timeline-ShareMenu">
                              <a class="TweetAction TweetAction-share" href="javascript:void(0);">
                              		<i class="fa fa-share-alt"></i>
                              </a>
                              <div class="timeline-ShareMenu-container">
                                <div class="timeline-ShareMenu-caret"></div>
                                <h3 class="timeline-ShareMenu-title">Share on</h3>
                                <ul role="menu">
                                    <li><a class="timeline-ShareMenu-option" href="https://twitter.com/intent/retweet?tweet_id=833663612560482304" role="menuitem" data-scribe="element:twitter">Twitter</a></li>
                                    <li><a class="timeline-ShareMenu-option" href="https://facebook.com/dialog/share?app_id=2231777543&amp;display=popup&amp;href=https%3A%2F%2Ftwitter.com%2Fisro%2Fstatus%2F833663612560482304" role="menuitem" data-scribe="element:facebook">Facebook</a></li>
                                    <li><a class="timeline-ShareMenu-option" href="https://linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Ftwitter.com%2Fisro%2Fstatus%2F833663612560482304" role="menuitem" data-scribe="element:linkedin">LinkedIn</a></li>
                                    <li><a class="timeline-ShareMenu-option" href="https://tumblr.com/widgets/share/tool?canonicalUrl=https%3A%2F%2Ftwitter.com%2Fisro%2Fstatus%2F833663612560482304" role="menuitem" data-scribe="element:tumblr">Tumblr</a></li>
                                </ul>
                              </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="timeline-TweetList-tweet customisable-border clearfix">
                	<div class="timeline-Tweet">
                    	<i class="fa fa-twitter timeline-Tweet-brand"></i>
                        <div class="timeline-Tweet-author">
                        	
                            <span class="TweetAuthor-avatar Identity-avatar">
                              <img class="Avatar" alt="" src="https://pbs.twimg.com/profile_images/413572279734247424/LshYgwCH_normal.jpeg">
                            </span>
                            <span class="TweetAuthor-name" title="ISRO">ISRO</span>
                            <span class="TweetAuthor-verifiedBadge">
                                <b class="u-hiddenVisually">✔</b>
                            </span>
                            <span class="TweetAuthor-screenName" title="@isro">@isro</span>
  
                        </div>
                        <p class="timeline-Tweet-text">
                        	PSLV-C37 / Cartosat -2 Series Mission Successfully Launched all 104 Satellites
						</p>
                        <div class="timeline-Tweet-metadata">
                        	<a class="timeline-Tweet-timestamp" href="https://twitter.com/isro/status/833663612560482304">20 Feb</a>
                        </div>
                        <ul class="timeline-Tweet-actions">
                        	<li class="timeline-Tweet-action">
								<a class="TweetAction TweetAction-heart" href="https://twitter.com/intent/like?tweet_id=833663612560482304">
                                	<i class="fa fa-heart"></i>
                                </a>
                            </li>
                            <li class="timeline-Tweet-action timeline-ShareMenu">
                              <a class="TweetAction TweetAction-share" href="javascript:void(0);">
                              		<i class="fa fa-share-alt"></i>
                              </a>
                              <div class="timeline-ShareMenu-container">
                                <div class="timeline-ShareMenu-caret"></div>
                                <h3 class="timeline-ShareMenu-title">Share on</h3>
                                <ul role="menu">
                                    <li><a class="timeline-ShareMenu-option" href="https://twitter.com/intent/retweet?tweet_id=833663612560482304" role="menuitem" data-scribe="element:twitter">Twitter</a></li>
                                    <li><a class="timeline-ShareMenu-option" href="https://facebook.com/dialog/share?app_id=2231777543&amp;display=popup&amp;href=https%3A%2F%2Ftwitter.com%2Fisro%2Fstatus%2F833663612560482304" role="menuitem" data-scribe="element:facebook">Facebook</a></li>
                                    <li><a class="timeline-ShareMenu-option" href="https://linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Ftwitter.com%2Fisro%2Fstatus%2F833663612560482304" role="menuitem" data-scribe="element:linkedin">LinkedIn</a></li>
                                    <li><a class="timeline-ShareMenu-option" href="https://tumblr.com/widgets/share/tool?canonicalUrl=https%3A%2F%2Ftwitter.com%2Fisro%2Fstatus%2F833663612560482304" role="menuitem" data-scribe="element:tumblr">Tumblr</a></li>
                                </ul>
                              </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ol>
    </div>
</div>    

<script>
	$(document).ready(function() {
        $(".TweetAction-share").click(function(){
			if($(this).parents(".timeline-ShareMenu.is-openedBelow").hasClass("is-openedBelow")){
				$(".timeline-ShareMenu").removeClass("is-openedBelow");
			}
			else{
				$(this).parents(".timeline-ShareMenu").addClass("is-openedBelow");
			}
		});
	});
</script>